.alagoas{
    display: flex;
    border: 1px solid black
    width: 600px;
}



.alagoas-1{
    width: 200px;
    height: 400px;
    background-color: red;
}
.alagoas-2{
    width: 200px;
    height: 400px;
    background-image: url("brasão\ al.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.alagoas-3{
    width: 200px;
    background-color: blue;
    height: 400px;
}
.Bandeira{
    display: flex;
    boder: 1px solid black
    width: 600px;
}



.França1{
    width: 200px;
    height: 400px;
    background-color: red;
}
.França2{
    width: 200px;
    height: 400px;
    background-size: contain;
    background-color: white;
  

}
.França3{
    width: 200px;
    background-color: blue;
    height: 400px;
}
.Italia{
    display: flex;
    border: 1px solid black
    width: 600px;
}
.Italia1{
    width: 200px;
    height: 400px;
    background-color: green;
}
.Italia2{
    width: 200px;
    height: 400px;
    background-size: contain;
    background-color: white;
  

}
.Italia3{
    width: 200px;
    background-color: red;
    height: 400px;
}
.Alemanha{
    border: 1px solid black
    width: 600px;
}
.Alemanha1{
    width: 500px;
    height: 100px;
    background-color: black;
}
.Alemanha2{
    width: 500px;
    height: 100px;
    background-size: contain;
    background-color: red;
  

}
.Alemanha3{
    width: 500px;
    background-color: yellow;
    height: 100px;
}